<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido a RedesApp</h1>
    <p class="lead">
      Explora el fascinante mundo de las redes y descubre las últimas tendencias
      y noticias.
    </p>
    <hr class="my-4" />
    <p>
      Desde los fundamentos esenciales hasta las últimas innovaciones, RedesApp
      es tu fuente confiable para todo lo relacionado con redes. ¿Te preguntas
      por dónde empezar? No dudes en explorar nuestra seccion de consultas y descubrir
      contenido valioso que te ayudará a comprender y aprovechar al máximo el
      mundo de las redes.
    </p>
    <img src="assets/redes.jpg" alt="" class="img-fluid" />
  </div>
</div>
