<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
        >
          <img src="assets/Unicolombo.jpg" alt="Logo" style="width: 350px;" />
        </a>

        <ul
          class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
        >
          <li>
            <a routerLink="/home" class="nav-link text-secondary">
              <img class="bi d-block mx-auto mb-1 btn btn-light" src="assets/home.png" alt="img">
              Home
            </a>
          </li>
          <li>
            <a routerLink="/pagina1" class="nav-link text-white">
              <img class="bi d-block mx-auto mb-1 btn btn-light" src="assets/libros.png" alt="img">
              Consulta
            </a>
          </li>
          <li>
            <a routerLink="/calculadora" class="nav-link text-white">
              <img class="bi d-block mx-auto mb-1 btn btn-light" src="assets/calculadora.png" alt="img">
              Calculadora
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<br/>